<template>
	<q-page>
		<div class="row q-col-gutter-lg">
			<div class="col-12 col-sm-8">
				<template v-if="!loadingPosts && posts.length">
					<q-card class="my-post q-mb-lg" flat bordered v-for="(post, i) in posts" :key="i">
						<q-item>
							<q-item-section avatar>
								<q-avatar>
									<img
										src="https://s.gravatar.com/avatar/8f6bdcc166bab1f6206e012ea5b0d505?s=80"
									/>
								</q-avatar>
							</q-item-section>

							<q-item-section>
								<q-item-label>KKu</q-item-label>
								<q-item-label caption>Daejeon, Korea</q-item-label>
							</q-item-section>
						</q-item>
						<q-separator />
						<q-img :src="post.imageUrl" no-spinner height="500px" fit="scale-down" />
						<q-card-section>
							<div class="text-bold">{{ post.caption }}</div>
							<div class="text-caption text-grey">{{ niceDay(post.date) }}</div>
						</q-card-section>
					</q-card>
				</template>

				<template v-else-if="!posts.length">
					<q-card flat bordered>
						<q-item>
							<q-item-section avatar>
								<q-skeleton type="QAvatar" animation="fade" size="40px" />
							</q-item-section>
							<q-item-section>
								<q-item-label>
									<q-skeleton type="text" animation="fade" />
								</q-item-label>
								<q-item-label caption>
									<q-skeleton type="text" animation="fade" />
								</q-item-label>
							</q-item-section>
						</q-item>

						<q-skeleton height="200px" square animation="fade" />

						<q-card-section>
							<q-skeleton type="text" class="text-subtitle2" animation="fade" />
							<q-skeleton type="text" width="50%" class="text-subtitle2" animation="fade" />
						</q-card-section>
					</q-card>
					<h5 class="text-center text-grey">No posts yet.</h5>
				</template>

				<template v-else>
					<q-card flat bordered>
						<q-item>
							<q-item-section avatar>
								<q-skeleton type="QAvatar" animation="fade" size="40px" />
							</q-item-section>
							<q-item-section>
								<q-item-label>
									<q-skeleton type="text" animation="fade" />
								</q-item-label>
								<q-item-label caption>
									<q-skeleton type="text" animation="fade" />
								</q-item-label>
							</q-item-section>
						</q-item>

						<q-skeleton height="200px" square animation="fade" />

						<q-card-section>
							<q-skeleton type="text" class="text-subtitle2" animation="fade" />
							<q-skeleton type="text" width="50%" class="text-subtitle2" animation="fade" />
						</q-card-section>
					</q-card>
				</template>
			</div>

			<div class="col-sm-4 large-screen-only">
				<q-item class="fixed">
					<q-item-section avatar>
						<q-avatar>
							<img
								src="https://s.gravatar.com/avatar/8f6bdcc166bab1f6206e012ea5b0d505?s=80"
							/>
						</q-avatar>
					</q-item-section>

					<q-item-section>
						<q-item-label>KKu</q-item-label>
						<q-item-label caption>Daejeon, Korea</q-item-label>
					</q-item-section>
				</q-item>
			</div>
		</div>
	</q-page>
</template>

<script>
import {defineComponent, onBeforeMount, ref} from 'vue'
import {date, useQuasar} from 'quasar'
import axios from 'axios'

export default defineComponent({
	name: 'PageHome',
	setup() {
		const $q = useQuasar
		const posts = ref([])
		const loadingPosts = ref(false)

		const getPosts = () => {
			loadingPosts.value = true
			axios
				.get(`${process.env.API_PRODUCT}/api/posts`)
				.then((response) => {
					posts.value = response.data
					loadingPosts.value = false
				})
				.catch((error) => {
					$q.dialog({
						title: 'Alert',
						message: '현재 위치를 찾지 못했습니다. 다시 시도 해주세요.' + error.code,
					})
					loadingPosts.value = false
				})
		}

		const niceDay = (dateNumber) => {
			return date.formatDate(dateNumber, 'YYYY년 MM월 DD일')
		}

		onBeforeMount(() => {
			getPosts()
		})

		return {posts, loadingPosts, niceDay}
	},
})
</script>

<style lang="sass">
.q-card
  .q-img
    min-height: 200px
</style>
