<template>
	<q-page class="constrain-more">
		<div class="camera-frame q-pa-md">
			<video class="full-width" autoplay ref="video" v-show="!isCaptured" />
			<!-- <q-img class="full-width" src="images/kku_001.jpg" height="17rem" /> -->
			<canvas class="full-width" ref="canvas" v-show="isCaptured" />
		</div>
		<div class="text-center q-pt-md">
			<template v-if="hasCameraSupport">
				<q-btn icon="las la-camera" size="md" color="grey-10" round @click="captureImage" />
			</template>
			<template v-else>
				<q-file v-model="imageUpload" @input="captureImageFallback" accept="image/*" outlined>
					<template v-slot:prepend>
						<q-icon name="las la-paperclip" />
					</template>
				</q-file>
			</template>
			<hr />
			<q-toggle
				v-model="hasCameraSupport"
				@click="isCaptured = !isCaptured"
				color="pink"
				icon="photo"
				label="이미지 & 촬영 변경"
			/>
		</div>
		<div class="row justify-center q-ma-md">
			<q-input v-model="post.caption" class="col col-sm-8" label="Caption" dense />
		</div>
		<div v-if="isGeolocation" class="row justify-center q-ma-md">
			<q-input
				v-model="post.location"
				:loading="loadingState"
				class="col col-sm-8"
				label="Location"
				dense
			>
				<template v-slot:append>
					<q-btn
						v-if="!loadingState"
						@click="getLocation"
						icon="las la-map-marked-alt"
						dense
						flat
						round
					/>
				</template>
			</q-input>
		</div>
		<div class="row justify-center q-mt-lg">
			<q-btn @click="addPost" color="primary" label="Post Image" rounded unelevated />
		</div>
	</q-page>
</template>

<script>
import {defineComponent, ref, toRefs, onMounted, onBeforeMount, onBeforeUnmount} from 'vue'
import {useQuasar, uid} from 'quasar'
import axios from 'axios'

export default defineComponent({
	name: 'PageCamera',
	setup() {
		// 변수 선언
		const $q = useQuasar()
		const video = ref(null)
		const canvas = ref(null)
		const isCaptured = ref(false)
		const hasCameraSupport = ref(true)
		const imageUpload = ref([])
		const functionSet = reactive({
			isGeolocation : false,
			isGeolocation: true 
		})
		/* interface Post 선언 */
		const post = ref({
			id: uid(),
			caption: '',
			location: '',
			photo: null,
			date: Date.now(),
			file: null,
		})
		const initCamera = () => {
			// http 체크 (http 카메라 지원 하지 않습니다.)
			if (document.location.protocol == 'http:!') {
				isCaptured.value = false
				hasCameraSupport.value = false
				// console.log(document.location.href.replace('http:', 'https:'))
			} else {
				navigator.mediaDevices
					.getUserMedia({
						video: true,
					})
					.then((mediaStream) => {
						if (video.value) {
							video.value.srcObject = mediaStream
						} else {
						}
					})
					.catch((error) => {
						console.log(error)
						// 카메라 지원 거부 일때
						hasCameraSupport.value = false
					})
			}
		}
		// canvas 에 캡쳐 이미지 넣기
		const captureImage = () => {
			if (video.value && canvas.value) {
				canvas.value.width = video.value.getBoundingClientRect().width
				canvas.value.height = video.value.getBoundingClientRect().height
				let context = canvas.value.getContext('2d')
				context
					? context.drawImage(video.value, 0, 0, canvas.value.width, canvas.value.height)
					: null
				post.value.photo = dataURItoBlob(canvas.value.toDataURL())
				disableCamera()
			}
			isCaptured.value = true
		}
		// 이미지를 삽입 하였을때 Blob 처리
		const captureImageFallback = (file) => {
			post.value.photo = file.target.files[0]
			// if (file.target instanceof HTMLInputElement) {
			// if (file.target.files instanceof FileList) {
			// }
			// }

			if (canvas.value) {
				const context = canvas.value.getContext('2d')

				const reader = new FileReader()
				reader.onload = (event) => {
					const img = new Image()
					img.onload = () => {
						if (canvas.value && context) {
							canvas.value.width = img.width

							canvas.value.height = img.height
							context.drawImage(img, 0, 0)
							isCaptured.value = true
						}
					}

					if (event.target) {
						img.src = event.target.result
					} else {
					}
				}

				if (post.value.photo) {
					reader.readAsDataURL(post.value.photo)
				} else {
					alert('사진을 선택해주세요.')
				}
			}
		}
		// dataURI 를 Blob 으로 변경
		const dataURItoBlob = (dataURI) => {
			// convert base64 to raw binary data held in a string
			// doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
			var byteString = atob(dataURI.split(',')[1])

			// separate out the mime component
			var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

			// write the bytes of the string to an ArrayBuffer
			var ab = new ArrayBuffer(byteString.length)

			// create a view into the buffer
			var ia = new Uint8Array(ab)

			// set the bytes of the buffer to the correct values
			for (var i = 0; i < byteString.length; i++) {
				ia[i] = byteString.charCodeAt(i)
			}

			// write the ArrayBuffer to a blob, and you're done
			var blob = new Blob([ab], {type: mimeString})
			return blob
		}
		// 카메라 객체 제거
		const disableCamera = () => {
			if (video.value) {
				video.value.srcObject.getVideoTracks().forEach((track) => {
					track.stop()
				})
			}
		}
		// 현재 위치 받아오기
		const getLocation = () => {
			loadingState.value = true
			navigator.geolocation.getCurrentPosition(
				(position) => {
					getCityAndCountry(position)
				},
				(error) => {
					locationError()
				},
				{timeout: 7000}
			)
		}

		const getCityAndCountry = (position) => {
			const letitude = position.coords.latitude
			const longitude = position.coords.longitude
			const apiGeocodeXyzUrl = `https://geocode.xyz/${letitude},${longitude}?json=1`

			axios
				.get(apiGeocodeXyzUrl)
				.then((res) => {
					locationSuccess(res.data)
				})
				.catch((error) => {
					locationError()
				})
		}

		const locationSuccess = (data) => {
			const {city, country} = data
			post.value.location = `${city}, ${country}`
			loadingState.value = false
		}

		const locationError = () => {
			$q.dialog({
				title: 'Alert',
				message: '현재 위치를 찾지 못했습니다. 다시 시도 해주세요.',
			})
			loadingState.value = false
		}

		const checkNavigator = () => {
			return 'geolocation' in navigator ? true : false
		}

		const addPost = () => {
			// 예외
			if (!post.value.photo) {
				$q.dialog({
					title: 'Alert',
					message: '사진을 첨부해 주세요.',
				})
				return 0
			}
			const formData = new FormData()
			formData.append('id', post.value.id)
			formData.append('caption', post.value.caption)
			formData.append('location', post.value.location)
			formData.append('date', post.value.date)
			formData.append('file', post.value.photo, post.value.id + '.png')

			axios
				.post(`${process.env.API_PRODUCT}/api/posts`, formData)
				.then((response) => {
					console.log(response)
				})
				.catch((error) => {
					console.log(error)
				})
		}

		// 장착이 시작되기 전에 호출 됨
		onBeforeMount(() => {
			isGeolocation.value = checkNavigator()
		})

		// 컴포넌트가 마운트 될 때 호출됩니다.
		onMounted(() => {
			// 시작시 카메라 기능 On
			initCamera()
		})

		// Vue 인스턴스가 파괴되기 전에 호출됩니다.
		onBeforeUnmount(() => {
			if (hasCameraSupport.value) {
				disableCamera()
			}
		})

		// 리턴
		return {
			post,
			video,
			canvas,
			captureImage,
			isCaptured,
			hasCameraSupport,
			imageUpload,
			captureImageFallback,
			getLocation,
			loadingState,
			isGeolocation,
			addPost,
			disableCamera,
		}
	},
})
</script>

<style lang="sass">
.camera-frame
  border: 2px solid $grey-5
  border-radius: 3px
</style>

function onMounted(arg0: () => void) { throw new Error('Function not implemented.') } function
onMounted(arg0: () => void) { throw new Error('Function not implemented.') }
