<template>
	<q-layout view="hHh lpR fFf">
		<q-header class="bg-white text-grey-10" bordered>
			<q-toolbar class="constrain">
				<q-btn to="/camera" icon="las la-camera" class="large-screen-only q-mr-sm" color="primary" size="18px" padding="xs" flat round dense />
				<q-separator vertical spaced class="large-screen-only" />
				<q-toolbar-title class="text-grand-hotel text-bold"> KKuStagram </q-toolbar-title>
				<q-separator vertical spaced class="large-screen-only" />
				<q-btn to="/" icon="las la-campground" class="large-screen-only q-ml-sm" color="primary" size="18px" padding="xs" flat round dense />
			</q-toolbar>
		</q-header>

		<q-page-container class="bg-grey-1">
			<router-view />
		</q-page-container>

		<q-footer class="small-screen-only bg-white" bordered>
			<q-tabs class="text-grey-7" active-color="primary" indicator-color="transparent">
				<q-route-tab icon="las la-campground" to="/" />
				<q-route-tab icon="las la-camera" to="/camera" />
			</q-tabs>
		</q-footer>
	</q-layout>
</template>

<style lang="sass">
.q-toolbar
  @media (min-width: $breakpoint-sm-min)
    height: 65px
.q-toolbar__title
  text-align: center
  font-size: 30px
  @media (min-width: $breakpoint-sm-min)
    text-align: left
.q-footer
  .q-tab__icon
    font-size: 30px
</style>
